<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/javascripts/scripts.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href='/images/favicon.png'>
    <title>Above Reality Guitar Institute</title>
</head>

<body>
    <header>
        <div class="card bg-dark text-white">
            <div class="card-body">
                <h1 class="card-title">ABOVE REALITY GUITAR INSTITUTE</h1>
            </div>
          </div>
    </header>

    <% if (user) { %>
    <ul class='nav nav-pills nav-fill'> 
        <li class='nav-item'>
            <a class='nav-link' href='/lessons'>LESSONS</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' onclick="window.open('http://nashvillenumbersystem.surge.sh/')">NASHVILLE</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='/gallery'>GALLERY</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='/message-board'>MESSAGE BOARD</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='/auth/logout'>LOG OUT</a>
        </li>
    </ul>

    <% } else { %>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/auth/google">LOG IN</a>
        </li>
        </ul>
        <div class="card-deck">
            <div class="card" id='include-card'>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text" id='included-text'>Included Courses</p>
              </div>
            </div>
            <div class="card" id='intro-card'>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text" id='intro text'>Intro Video</p>
              </div>
            </div>
            <div class="card" id='contact-card'>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text" id='contact-text'>Instagram / Twitter</p>
              </div>
            </div>
          </div>
      <% } %>
      </li>
    </ul>
  </div>
</nav>
</div>




    
