<%- include('../partials/header') %>

<div class="card-deck">
    <div class="card" id='include-card'>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text" id='included-text'>Included Courses</p>
    </div>
</div>
    <div class="card" id='intro-card'>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text" id='intro text'>Intro Video</p>
    </div>
</div>
    <div class="card" id='contact-card'>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text" id='contact-text'>Instagram / Twitter</p>
    </div>
</div>
</div>

<%- include('../partials/footer') %>