.brand-logo {
  margin-left: 15px;
}

body {
  background-color: #697987;
}

#search-row form {
  padding-top: 20px;
}

.card-title {
  text-align: center;
  vertical-align: middle;
  font-size: 115px;
}

.nav-item {
  background: #31616D;
  padding: 10px;
  color: #CFF6FF;
}

.card:first-child {
  border-radius: 0;
}

#include-card {
  height: 40rem;
  max-width: 20rem;
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 4rem;
  text-align: center;
  border-radius: 0;
}

#intro-card {
  margin-top: 2rem;
  border-radius: 0;
}

#contact-card {
  height: 40rem;
  max-width: 20rem;
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 4rem;
  text-align: center;
  border-radius: 0;
}

li { 
  cursor: pointer; 
}